.container {
    .rows {
        height: 50px;
        width: 50px;
        display: inline-block;
        margin: 2px;
        .columns {
            height: 50px;
            width: 50px;
            display: inline-block;
            .cell {
                display: inline-block;
                background: #000;
                height: 50px;
                width: 50px;
                &:hover {
                    background: yellow;
                }
            }
        }
    }
}