<h1>Grid component !</h1>
<div class="container">
    <div class="rows" *ngFor="let rows of numberToMap(rows); let r = index;">
        <div class="columns" *ngFor="let columns of numberToMap(columns); let c = index;">
            <div class="cell" (click)="celluleReturn(r,c)"></div>
        </div>
    </div>
</div>